html,body {
	height: 100%;
}

body.my-login-page {
	background-color: #f5fff1;
	font-size: 14px;
}

.my-login-page .brand {
	width: 90px;
	/* height: 90px; */
	overflow: hidden;
	/* border-radius: 50%; */
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(227, 255, 114, 0.05);
}

.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
	border-radius: 5px;
	border-color: #7fad39;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .margin-top20 a {
	color: #7fad39;
	font-size: large;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

.btn-login {
	color: #fff;
	font-size: 18px;
	background-color: #7fad39;
	border-color: #7fad39;
}

.img-login {
	height: 180px;
	margin-bottom: 20px;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/

/* @media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
} */

/* Medium Device = 1200px */
/* 
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.card-body {
		width: 490px;
	}
	.card-body input {
		width: 340px;
	}
	.card-body .btn-sm {
		right: 0px;
	}
	.footer {
		padding-left: 20px;
	}
	.product__details__tab .nav-tabs:before {
		width: 265px;
	}
	.product__details__tab .nav-tabs:after {
		width: 265px;
	}
	.shoping__discount form input {
		width: 240px;
	}
} */